body {

	background-color: black;
	font-family: 'Josefin Sans', sans-serif;
	color: white;

}


.container1 {
	display: block;
	margin: auto;
	width: 50%;
    padding: 10px;
    overflow:hidden;
	align-items: center;
	
}

img {
	margin:4px;
	width: 100%;
    height: auto;
}


img:hover {
	transform: scale(1.1);
	transition: all 1s;


}
#honpic {
	
	display: block;
	margin: auto;
	padding: 10px;
	max-width: 60%;
    height: auto;
	position: center;
	clear: both;
	pointer-events:none;
}


header {
	display: block;
	margin: auto;
	position: center;
    width: 50%;
    padding: 10px;
    overflow: hidden;
}


#wrap  {
	
	 display:flex;
	 margin: auto;
	 align-items: center;
	 justify-content: center;

}

hr {
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width:50%;

}

.container2  {
	display: block;
	margin: auto;
	position: center;
    width: 50%;
    padding: 10px;
    overflow: hidden;
	

}

span {

	font-size: 1.5em;
}

h3 {

	padding:10px;
	position: center;
	align-items: center;
	justify-content: center;
	display: flex;

}

h2 {

	position: center;
	align-items: center;
	justify-content: center;
	display: flex;


}

h1 {

	font-family: 'Indie Flower', cursive;
	position: center;
	align-items: center;
	justify-content: center;
	display: flex;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 25%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}